# Set the default behavior, in case people don't have core.autocrlf set.
# files not restricted for Windows and we should use lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
adb-myself-toolkit/*.md text eol=lf

# files for Windows, we need crlf
fix-vac-tool/*.cmd text eol=crlf
fix-vac-tool/*.txt text eol=crlf

adb-myself-toolkit/*.bat text eol=crlf
adb-myself-toolkit/data/VERSION text eol=crlf

# Binary files
*.exe binary
*.dll binary
*.xpi binary
*.xz binary
*.gz binary
